CloudVis/Library/
CloudVis/Logs/
CloudVis/obj/
CloudVis/UserSettings/

CloudVis/Assets/clw_normalized.asset
CloudVis/Assets/clouds.asset
CloudVis/Assets/winds.asset
CloudVis/Assets/ImportedData/*
CloudVis/Temp/*
CloudVis/Images/*

CloudVis/.vs/*